.header {
    display: flex;

    .sass {
        width: 30%;
        padding: 2%;


        h1 {
            color: blue;
        }

        p {
            font-size: xx-large;
            background-color: yellow;
            color: blue;

        }


    }
}